extends layout

block content
    .divPadding
    |     
    .block-center.divBloqueCard
      .card.marginCard
        .card-body
          h5.card-title(align='center') Formulario de Registro
          |           
          hr
          |           
          h6.card-subtitle.mb-2.text-muted(align='center') &iexcl;Empieza Ya! Registrate para formar parte de Sim&oacute;n Dice
          |           
          hr
          |           
          br
          | 
          if errorMessage != ""
              .alert.alert-danger(role='alert')= errorMessage 
          form.needs-validation(novalidate='', action='/user',method='POST')
            input(type='hidden', name='_token', value='{{ csrf_token() }}')
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                label.txtColor.txtColorCard(for='') INFORMACION PERSONAL
                |                 
                hr
                |                 
                input#name.form-control(name='name', type='text', placeholder='Nombre Completo', pattern='^([A-ZÁÉÍÓÚa-zñáéíóúäëïöü ]+[\.]*)+$', minlength='10', maxlength='150', required='')
                |                 
                .invalid-feedback
                  | Introduzca el 
                  i Nombre Completo
                  |  entre 10 y 150 letras
              |               
              .col-md-2.mb-3
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-2
                label.txtColor(for='') Fecha de Nacimiento:
                |                 
                input#birthdate.form-control(name='birthdate', type='date', placeholder='Fecha de Nacimiento', pattern='(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d',min='1968-01-01',max='2000-12-31')
                |                 
                .invalid-feedback
                  | Introduzca una 
                  i Fecha de Nacimiento
                  |  v&aacute;lido.
              |               
              .col-md-2.mb-3
            |             
            .form-row
              .col-md-2.mb-4
              |               
              .col-md-2.mb-4
                label.txtColor(for='sex_user') Sexo:
              |               
              .form-group.col-md-6.mb-4
                select#sex.form-control.custom-select(name='sex', required='')
                  option(disabled='', selected='', hidden='')
                  |                   
                  option(value='Femenino') Femenino
                  |                   
                  option(value='Masculino') Masculino
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4
            |  
            |  
            .form-row
              .col-md-2.mb-4
              |               
              .col-md-2.mb-4
                label.txtColor(for='sex_pref') Orientación Sexual:
              |               
              .form-group.col-md-6.mb-4
                select#sexOrientation.form-control.custom-select(name='sexOrientation', required='')
                  option(disabled='', selected='', hidden='')
                  |                   
                  option(value='Heterosexual') Heterosexual
                  |                   
                  option(value='Homosexual') Homosexual
                  |                   
                  option(value='Bisexual') Bisexual
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4
            |   
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                label.txtColor.txtColorCard(for='') INFORMACIÓN ACADÉMICA:
                |                 
                hr
              |   
              |               
              .col-md-2.mb-3
            |  
            |                                            
            .form-row
              .col-md-2.mb-4
              |               
              .col-md-2.mb-4
                label.txtColor(for='faculty') Facultad:
              |               
              .form-group.col-md-6.mb-4
                select#faculty.form-control.custom-select(name='faculty', required='', onchange="facultySelected()")
                  option(disabled='', selected='', hidden='') Escoge una Facultad
                  each faculty in facultys                     
                    option(value=faculty._id)= faculty.name    
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4
            |   
            .form-row
              .col-md-2.mb-4
              |               
              .col-md-2.mb-4
                label.txtColor(for='career') Carrera:
              |               
              .form-group.col-md-6.mb-4
                select#career.form-control.custom-select(name='career', required='', disabled)
                  option(disabled='', selected='', hidden='') Escoge una Carrera    
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4
            |           
            .form-row
              .col-md-2.mb-4
              |               
              .col-md-1.mb-4
                label.txtColor(for='num_nivel') N&deg;:
              |               
              .form-group.col-md-2.mb-4
                input#semester.form-control(type='number', name='semester', placeholder='', min='1', max='10', required='')
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4
                label.txtColor(for='tipo_nivel') Per&iacute;odo:
              |               
              .form-group.col-md-3.mb-4
                select#tipo_nivel.form-control.custom-select(name='tipo_nivel', required='')
                  option(disabled='', selected='', hidden='')
                  |                   
                  option(value='Semestre') Semestre
                  |                   
                  option(value='Anual') Anual
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
            |  
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                label.txtColor.txtColorCard(for='') BUSCO A UNA PERSONA CON CARACTERÍSTICAS:
                |                 
                hr
              |   
              |               
              .col-md-2.mb-3
            |  
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                label.txtColor(for='') Rango de Edad:
              |   
              |               
              .col-md-2.mb-3
            |   
            |             
            .form-row
              .col-md-2.mb-4
              |               
              .form-group.col-md-3.mb-4
                input#minAge.form-control(type='number', name='minAge', placeholder='', min='18', max='60', required='')
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4.block-center
                label.txtColor(for='', align='center') &nbsp a:
              |               
              .form-group.col-md-3.mb-4
                input#maxAge.form-control(type='number', name='maxAge', placeholder='', min='18', max='60', required='')
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
            | 
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                label.txtColor.txtColorCard(for='') LOGIN:
                |                 
                hr
              |   
              |               
              .col-md-2.mb-3
            |   
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                input#email.form-control(name='email', type='email', placeholder='Correo Electrónico', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$', required='')
                |                 
                .invalid-feedback
                  | Introduzca una direcci&oacute;n de 
                  i Correo Electr&oacute;nico
                  |  v&aacute;lida
              |               
              .col-md-2.mb-3
            |    
            | 
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                input#password.form-control(name='password', type='password', placeholder='Contraseña',pattern='.{6,}', required='')
                |                 
                .invalid-feedback
                  | Introduzca una 
                  i Contraseña
                  |  v&aacute;lida
              |               
              .col-md-2.mb-3
            |    
            |              
            .container-fluid.divBtnPaddingCard
              button.btn.btn-primary.btnColorIS(type='reset', onclick='history.back()') Cancelar
              |                 
              button.btn.btn-primary.btnColorR(type='submit') Registrar
    |     
    .divPadding
    - local_data = JSON.stringify(careers)
    input(type='hidden', value=local_data)#myLocalDataObj
    script(src="/javascripts/registrar.js")
    
